<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="login">
        <p style="color:red;"> @ViewBag.Error</p>
        <form action="/process" method="post">
            <label for="email">
                Email:
                <input type="text" name="LogEmail">
            </label>
            <br/>
            <label for="password">
                Password:
                <input type="password" name="LogPass">
            </label>
            <br/>
            <input type="submit" value="Login">
        </form>
    </div>
    <a href="/"> Go Back </a>
</body>

</html>